.collapsible-button {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    transition: right 0.3s ease-in-out;
  }
 .icon-v{
  width: 20px;
  height: 35px;
  fill: var(--icon-fill-color);
  stroke: var(--icon-fill-color);
 }
 
 @media (max-width: 768px) {
.icon-v{
  width: 20px;
  height: 35px;
}

 }
