/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Handjet:wght@100&family=Jost:wght@600&family=Lilita+One&family=Passion+One&family=Press+Start+2P&family=Roboto+Condensed:wght@300&family=Rubik+Mono+One&family=Shadows+Into+Light&family=Source+Sans+3&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .tabs {
    position: relative;
    background: transparent;
    padding: 40px;
    padding-bottom: 80px;
    width: 90%;
    height: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: 240px;
  }
  .tabs input[name=tab-control] {
    display: none;
  }
  .tabs .content section h2,
  .tabs ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: #5c3377;
  }
  
  .tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .tabs ul li {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
  }
  .tabs ul li label {
    transition: all 0.3s ease-in-out;
    color: #929daf;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .tabs ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;
  }
  .tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
    outline: 0;
    color: #bec5cf;
  }
  .tabs .slider {
    position: relative;
    width: 25%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  }
  .tabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background:var( --text-active-tab);
    border-radius: 1px;
  }
  .tabs .content {
    margin-top: 30px;
   
  }
  .tabs .content section {
    display: none;
    -webkit-animation-name: content;
            animation-name: content;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    line-height: 1.4;
  }
  .tabs .content section h2 {
    color: #5c3377;
    display: none;
  }
  .tabs .content section h2::after {
    content: "";
    position: relative;
    width: 30px;
    height: 3px;
    background:  #5c3377;
    margin-top: 5px;
    left: 1px;
  }
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    cursor: default;
    color: var( --text-active-tab);
  }

  .tabs input[name=tab-control]:nth-of-type(1):checked ~ .slider {
    transform: translateX(0%);
  }
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding: 15px;
    gap:40px
  }

  @media (max-width: 800px) {
    .tabs{
      padding: 10px;
    }
    .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
      background: rgba(0, 0, 0, 0.08);
    }
    .tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
      
      flex-direction: column;
      align-items: center;
      padding: 10px;
      gap:40px
    }
  }

  .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    cursor: default;
    color: var( --text-active-tab);
  }
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
  }
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
    display: block;
  }
  @media (max-width: 800px) {
    .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
      background: rgba(0, 0, 0, 0.08);
    }
    
  }
 
  .tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    cursor: default;
    color: var( --text-active-tab);
  } 
   .tabs input[name=tab-control]:nth-of-type(3):checked ~ .slider {
    transform: translateX(200%);
  }
  .tabs input[name=tab-control]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
    display: block;
  }
  @media (max-width: 800px) {
    .tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
      background: rgba(0, 0, 0, 0.08);
    }
  }

  .tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    cursor: default;
    color: var( --text-active-tab);
  }
  .tabs input[name=tab-control]:nth-of-type(4):checked ~ .slider {
    transform: translateX(300%);
  }
  .tabs input[name=tab-control]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
    display: block;
  }
  @media (max-width: 800px) {
    .tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
      background: rgba(0, 0, 0, 0.08);
    }
  }
  
  @-webkit-keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @media (max-width: 1000px) {
    .tabs ul li label {
      white-space: initial;
    }
    .tabs ul li label br {
      display: initial;
    }
 
  }
  @media (max-width: 800px) {
    .tabs ul li label {
      padding: 5px;
      border-radius: 5px;
    }
    .tabs ul li label span {
      display: none;
    }
    .tabs .slider {
      display: none;
    }
    .tabs .content {
      margin-top: 20px;
    }
    .tabs .content section h2 {
      display: block;
    }
  }
  .terminal {
    background-color: #1E1E1E;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', monospace;
    color: #F8F8F2;
    overflow-y: auto;
    max-height: 400px; 
    scrollbar-width: thin;
    scrollbar-color: #888 #1E1E1E;
}
.terminal::-webkit-scrollbar {
    width: 8px;
}

.terminal::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.terminal::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.terminal::-webkit-scrollbar-track {
    background-color: #1E1E1E;
}

  .output-line {
    margin-bottom: 5px;
    align-items: center;
    font-family: Fira Code VF,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  }
  .error{
    margin-top: 10px;
    color: red;
  }
  
  .input-line-container {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 5px; 
    color: rgb(0, 255, 42);

}

.input-line {
    flex: 1;
    border: none;
    outline: none;
    color: #F8F8F2;
    background-color: transparent;
    font-size: inherit;
    font-family: Fira Code VF,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}.steps {
  background-color:  #f2d0ff87; 
  border-radius: 5px;
  padding: 20px;
  width: 45%;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.step {
  margin-bottom: 10px;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.next-button {background-color: #cf89ebcb; 
  border: none;
  padding: 8px 16px;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color);
  transition: background-color 0.3s, transform 0.2s;
}

.next-button:hover {
  background-color: #d0a0ff;
  transform: scale(1.05);
}

  @media (max-width: 768px) {

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 30px;

  }
  .steps{
    width: 85%;
  }
  .terminal{
    width: 85%;
  }}