/* Glossary.css */

.Container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.glossary {
  display: flex;
}

.term-list {
  flex: 1;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.term-list h2 {
  font-size: 20px;
}

.term-list ul {
  list-style: none;
  padding: 0;
  
}

.term-list li {
  cursor: pointer;
  margin: 5px 0;
  padding: 8px;
  border: 2px solid rgb(228, 188, 252);
  max-width: 300px;
  border-radius: 20px;
  border-radius: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.term-list li:hover {
  background-color: #efe1ff;
  box-shadow: 0 0 10px rgba(189, 147, 249, 0.3), 0 0 20px rgba(189, 147, 249, 0.2), 0 0 30px rgba(189, 147, 249, 0.1);

}

.definition {
  flex: 2;
  padding-left: 20px;
}

.definition h2 {
  font-size: 20px;
}

.definition p {
  font-size: 16px;
  line-height: 1.5;
}
