

.sidebar-container {
  background-color: var(--main-container-bg);
  box-shadow: var(--container-shadow);
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
  width: 80px;
  height: auto;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  transform: translateY(-50%);
  z-index: 9999;
  flex: 0 0 80px; 
  transition: flex 0.3s ease-in-out;
  align-items: center;
  transition: width 0.3s ease;
  overflow-x: hidden;
}



.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  gap: 5px;
  padding: 10px;
  align-items: center ;
 
}


.sidebar-themeInput {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.sidebar-themeType {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  text-align: center;
  z-index: 1;
  flex-shrink: 0;
}

.sidebar-themeContainer {
  border-radius: 4px;
  color: var(--text-color);
  display: flex;
  width:50px;
  margin-right: 4px;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 10px;  
}

.sidebar-themeLabel {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}


.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.sidebar-listItem {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInItem 0.6s forwards;
  transition: background 0.2s ease-in;
  transform: translatex(-16px);
  opacity: 0;
  padding: 4px 0;
  position: relative;
  justify-content: center;
}

.sidebar-listItemText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  font-size: 16px;
  text-decoration: none;
}
.icons{
  width: 35px;
  height: 35px;
}
.icons-theme{
  width: 30px;
  height: 30px;
}

.icons .custom-path {
 
  fill: var(--icon-fill-color);
  stroke: var(--icon-fill-color);
}

.icons-theme .custom-path{

  stroke: var(--icon-fill-color);
  
}


.sidebar-container.shrink {
  width: 40px;
}


.sidebar-container .shrink .sidebar-wrapper,
.sidebar-container.shrink .icons,
.sidebar-container.shrink .icons-theme,
.sidebar-container.shrink .sidebar-listItem,
.sidebar-container .shrink .sidebar-themeContainer
{
  display: none;
}
.btn{
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 2;
}
@keyframes fadeInItem {
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

@media (max-width: 899px) {
  .sidebar-container {
    width:60px;
    height:auto;
  }
  .icons{
    width: 30px;
    height: 30px;
  }
  .icons-theme{
    width: 25px;
    height: 25px;
  }
  .icons .custom-path{
  
    stroke-width: 0.5px;
  }
  .icons-theme .custom-path {
    
    stroke-width: 2px;
  }

  .sidebar-listItemText {
    display: none;
  }

  .sidebar-listItem {
    
    justify-content: flex-start;
    align-items: center;
  }
.sidebar-themeContainer{
  width:40px;

}

}.sidebar-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0px; 
  padding-top: 10px; 
  height: auto; 
  padding-bottom: 5px;
}

.sidebar-button-container .btn {
  width: 40px; 
  height: 40px; 
}
.button-outside-sidebar {
  position: absolute; 
  top: 50%; 
  right: 40px; 
  transform: translateY(-50%);
  z-index: 10000;
}

 .icon-v{
  width: 20px;
  height: 35px;
  fill: var(--icon-fill-color);
  stroke: var(--icon-fill-color);
 }
 
 @media (max-width: 768px) {
.icon-v{
  width: 20px;
  height: 35px;
}

 }
