@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Handjet:wght@100&family=Jost:wght@600&family=Lilita+One&family=Passion+One&family=Press+Start+2P&family=Roboto+Condensed:wght@300&family=Rubik+Mono+One&family=Shadows+Into+Light&family=Source+Sans+3&display=swap');

:root {
  --main-bg: #f1ebff;
  --item-hover: #f9f8fb;
  --text-title: #5c3377;
  --main-container-bg: #fff;
  --container-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --text-color: #404d7a;
  --text-active-tab: #5c3377;
  --icon-fill-color: #3e4959;
  --icon-active: #e5e6ec;
  --tooltip-bg: #251d33;
  --sidebarbck: #fff;
  --border-card-color: #e6e6e6;
  
 max-height: 100vh; overflow-y: auto;
}

body {
  background-color: var(--main-bg);

  transition: background-color 0.3s ease-in-out;

}

body.dark {
  --main-bg: #140023;
  --item-hover: #1c2339;
  --text-title: whitesmoke;
  --main-container-bg: #23032d;
  --text-color: #fff;
  --text-preinfo: #dff0ff;
  --border-card-color: rgba(189, 147, 249, 0.8);
  --text-active-tab: #fff;
  --icon-fill-color: #ae85d4;
  --container-shadow: rgba(#131c31, 0.2) 0px 7px 29px 0px;
  --sidebarbck: #1f0726;
}

.svg-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  z-index: 1;
}

.book-svg {
  width: 100px;
  height: 100px;
  transition: transform 0.5s ease-in-out;
  animation: floatAnimation 3s infinite ease-in-out;

}

@keyframes floatAnimation {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.bubble-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}


.bubble-link:hover {
  background-color: #1c2339;
}

/* Estilos generales del contenedor del chat */
/* Estilos generales del contenedor del chat */
.react-chatbot-kit-chat-container {
  font-family: Arial, sans-serif;
  width: 250px;
  height: 250px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  right: 50px;
  bottom: 130px;
  transition: bottom 0.3s ease-in-out;
  overflow-y: auto;
  /* Changed to overflow-y to allow vertical scrolling */
  scroll-behavior: smooth;
  /* Added smooth scrolling behavior */
}

/* Estilos del encabezado del chat */
.react-chatbot-kit-chat-header {
  background-color: #d0a7ff;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 20px;
  text-align: center;
}

/* Estilos de los mensajes */
.react-chatbot-kit-chat-message-container {
  padding: 10px;
}

/* Estilos de los mensajes del bot */
.react-chatbot-kit-chat-bot-message-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.react-chatbot-kit-chat-bot-avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.react-chatbot-kit-chat-bot-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #d0a7ff;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 70%;
}

/* Estilos del mensaje de entrada del usuario */
.react-chatbot-kit-user-chat-message-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.react-chatbot-kit-user-chat-message {
  background-color: #e0e0e0;
  color: black;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 70%;
}

.react-chatbot-kit-user-avatar-container {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.react-chatbot-kit-user-avatar-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.react-chatbot-kit-chat-input-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  /* Alinea el input al final del contenedor */
}

.react-chatbot-kit-chat-input-form {
  display: flex;
  align-items: center;
  width: 100%;
  /* Make the input take the full width */
}

.react-chatbot-kit-chat-input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #392d5c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  margin-top: 8px;
  /* Add some space between the input and the send button */
}

@media screen and (max-width: 768px) {

  .react-chatbot-kit-chat-container {
    font-family: Arial, sans-serif;
    width: 190px;
    height: 190px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    right: 50px;
    bottom: 130px;
    transition: bottom 0.3s ease-in-out;
    overflow-y: auto;
    /* Changed to overflow-y to allow vertical scrolling */
    scroll-behavior: smooth;
    /* Added smooth scrolling behavior */
  }



}